{% extends 'main.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<style>
body {
    background: #eee
}

.filter {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.profiles img {
    margin-right: -6px
}

.col-md-4 {
    margin-top: 26px
}  
</style>

<div class="container mt-5 mb-5">
    <div class="row mt-1">
        
        {% if profile.type == 'student' %}
        {% for assignment in assignmentsObj %}
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <h5 class="mt-2">{{assignment.assgeneral.title}}</h5>
                <p class="mt-2">{{assignment.assgeneral.description}}</p>
            </div>
            <div class="p-card bg-white p-2 rounded px-3">
                <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/assignment/{{assignment.assignmentid}}">Go to Detail</a></span></div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        
    </div>
</div>
</html>
{% endblock %}