{%extends 'main.html'%}

{% block content %}

<h3>Assign Reviewers</h3>

<form action="" method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}

        <select id="assgeneral" name="assgeneral" required="required">    
            <option value="{{assignmentsList.assid}}" selected>Assignment: {{assignmentsList.title}}</option>
        </select>
    
        <select id="reviewer" name="reviewer" required="reviewer">
            <option selected>Select Reviewer</option>
            {% for student in studentList %}    
            <option value="{{student.studentid.userid}}">{{student.studentid.name}} {{student.studentid.surname}}</option>
            {% endfor %} 
        </select>

        <input type="number" id="group" name="group" placeholder="Group" required="required">
        <input type="date" id="duedate" name="duedate" placeholder="Due Date" required="required">
        <input type="time" id="duetime" name="duetime" placeholder="Due Time" required="required">

        <input type="submit">

{% endblock content %}