{%extends 'main.html'%}

{% block content %}


<h3>Assign Students</h3>

<form action="" method="POST" enctype="multipart/form-data" action="{% url 'assignstudents.html' ">
    {% csrf_token %}
    <select id="assgeneral" name="assgeneral" required="required">    
        <option value="{{assignmentList.assid}}" selected>Assignment: {{assignmentList.title}}</option>
    </select>
    <select id="assignee" name="assignee" required="required">
        <option selected>Select Assignee</option>
        {% for user in studentList %}    
            <option value="{{user.studentid.userid}}">{{user.studentid.name}} {{user.studentid.surname}}</option>
        {% endfor %} 
    </select>
    <input type="number" id="group" name="group" placeholder="Group" required="required">
    <input type="submit" placeholder="Create">
{% endblock content %}