{% extends 'main.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<style>
body {
    background: #eee
}

.filter {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.profiles img {
    margin-right: -6px
}

.col-md-4 {
    margin-top: 26px
}  
</style>

<div class="container mt-5 mb-5">
    <div class="row mt-1">
        
        {% if profile.type == 'student' %}
        {% for student in studentObj %}
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <h5 class="mt-2">{{student.courseid.title}}</h5>
            </div>
            <div class=""><img src="{{student.courseid.picture.url}}" width="100%" height="100%"></div>
            <div class="p-card bg-white p-2 rounded px-3">
                <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/assignments/{{student.courseid.courseid}}">Assignments</a></span></div>
                <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/reviews/{{student.courseid.courseid}}">Reviews</a></span></div>
            </div>
        </div>
        {% endfor %}

        {% elif profile.type == 'instructor' %}
        {% for course in coursesObj %}
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <h5 class="mt-2">{{course.title}}</h5>
            </div>
            <div class=""><img src="{{course.picture.url}}" width="100%" height="100%"></div>
            <div class="p-card bg-white p-2 rounded px-3">
                <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/assignments/{{course.courseid}}">Assignments</a></span></div>
            </div>
        </div>
        {% endfor %}

        {% endif %}
        
    </div>
</div>


</html>


{% endblock %}