{%extends 'main.html'%}

{% block content %}
<style>
    h5 {text-align: center;}
    p {text-align: center;}
    div {text-align: center;}
</style>

<h5>Create Course</h5>

<form align="center" action="" method="POST" enctype="multipart/form-data" action="{% url 'createcourse' %}">
    {% csrf_token %}
    <input type="text" id="title" name="title" placeholder="Course Title">
    <select id="instructor" name="instructor" required="required">
        <option disabled selected>Select Instructor</option>
        {% for instructor in instructorsList %}
        <option value="{{instructor.userid}}">{{instructor.name}} {{instructor.surname}}</option>
        {% endfor %}
        {{m | safe}}
    </select>
    <input type="submit">

{% endblock content %}