{% extends 'main.html' %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<style>
body {
    background: #eee
}

.filter {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.profiles img {
    margin-right: -6px
}

.col-md-4 {
    margin-top: 26px
}  
</style>

<div class="container mt-5 mb-5">
    <div class="row mt-1">
        
        {% if profile.type == 'student' %}
        
        {% for review in reviewList %}
        {% for assignment in assignmentGenerals %}
        {% if assignment.assid == review.assgeneral.assid %}
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <h5 class="mt-2">{{review.assgeneral.title}}</h5>
                <div class=""><img src="{{review.picture.url}}" width="100%" height="100%"></div>
                <p class="mt-2">{{review.assgeneral.description}}</p>
                <p class="mt-2">Due Date: {{review.duedate}}</p>
                <p class="mt-2">Due Time: {{review.duetime}}</p>
            </div>
            {% if date < review.assgeneral.duedate %}
            <div class="p-card bg-white p-2 rounded px-3">
                <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/review/{{review.assgeneral.assid}}/upload">Upload Review</a></span></div>
            </div>
            {% else %}
            <div class="p-card bg-white p-2 rounded px-3">
                <div><i class="fa fa-calendar-o"></i><span class="ml-2">Due date for  review submission is over</span></div>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endif %}

        {% if profile.type == 'instructor' %}
        
        {% for assignment in assignments %}
        <div class="col-md-4">
            <div class="p-card bg-white p-2 rounded px-3">
                <h5 class="mt-2">{{assignment.title}}</h5>
                <p class="mt-2">{{assignment.description}}</p>
            </div>
            {% for ass in instructorass %}
            {% if ass.assgeneral.assid == assignment.assid %}
            <div class="p-card bg-white p-2 rounded px-3">
                <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/assignment/{{ass.assignmentid}}">Student email: {{ass.assignee.email}} -- Student Group: {{ass.group}}</a></span></div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="p-card bg-white p-2 rounded px-3">
                <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/assignment/{{assignment.assid}}/assignstudents">Assign Students</a></span></div>
                <div><i class="fa fa-calendar-o"></i><span class="ml-2"><a href="/assignment/{{assignment.assid}}/createreview">Assignreviewer</a></span></div>
            </div>
        </div>
        {% endfor %}
        
        {% endif %}
        
    </div>
</div>


</html>
{% endblock %}